.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.inbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
